<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/stylesheets/Status.css">
</head>

<body>
    <div class="container">

    
    <div class="blank_cards" style="visibility: hidden;height: 50px;">
        hello
    </div>
    <%user.posts.reverse().forEach(function(post){ %>
        <div class="cards">
            <h1><%=post.medicineName%> <%=post.dosage%></h1>
            <div class="calculation">
                <div class="timeHours">
                    <img src="/assets/Logo2.jpg" alt="Clock Icon">
                    Time: <%=post.timeHours%>:<%=post.timeMinutes.toString().padStart(2, '0')%>
                </div>
                <div class="timeMinutes">
                    <img src="/assets/Logo1.jpg" alt="Calendar Icon">
                    Course duration: <%=post.courseDuration.toString().padStart(2, '0')%> days
                </div>
            </div>
            <p>Take this medicine. Drink plenty of water and follow doctor’s instructions.</p>
        </div>
        <div class="blank_cards" style="visibility: hidden;"></div>
    <% }) %>
        <div class="blank_cards" id="last_black_card" style=" visibility: hidden; height: 50px;">
            hello

        </div>
    </div>

    <div class="favs" id="favs">
        <div class="fav-container">
            <ul>
                <!-- <li><a href="https://www.instagram.com/" target="_blank"><img src="/twitter.png" alt="instagram"></a></li> -->
                <li><a href="/profile/add-page"><img src="/assets/icons8-add-80.png" alt="add"></a></li>
                <li><a href="/profile/status"><img src="/assets/icons8-status-150.png" alt="Status"></a></li>
                <li><a href="/welcome#section3" target="_blank"><img src="/assets/icons8-message-80.png"  alt="contact us"></a></li>
                <li><a href="/welcome#section2" target="_blank"><img src="/assets/icons8-about-us-150.png" alt="about us"></a></li>
                <li><a href="/logout"><img src="/assets/icons8-logout-80.png" alt="logout"></a></li>

            </ul>
        </div>
    </div>



</body>

</html>